* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background: #c1c7cf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    width: 400px;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    margin: 10px 0 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #c0bdbd;
    background-color: #f7fafa;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #6c8cff;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

.primary {
    background: #6c8cff;
    color: white;
}

.primary:hover {
    background: #5a78e0;
}

.secondary {
    background: #ffb84d;
    color: white;
}

.secondary:hover {
    background: #e6a63c;
}

#displayBtn,
#searchBtn {
    background-color: rgb(151, 231, 255);
}

#displayBtn:hover,
#searchBtn:hover {
    background-color: rgb(118, 219, 250);
}

.search-box {
    display: flex;
    gap: 6px;
    margin: 7px 0;
}

.search-box input {
    flex: 1;
    background-color: #f7fafa;
}

.search-box button {
    width: 90px;
    height: 40px;
    margin-top: -1px;   
}

.output {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    background: #f7fafa;
    border: 1px solid #e0e0e0;
    min-height: 50px;
}
<<<<<<< HEAD

@media (max-width: 576px){
    html{
        margin: 20px;
    }
}
=======
>>>>>>> b4137e293503dd34749a7412552be8581dc44350
