* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #020617;
}

nav h2 {
    color: #38bdf8;

}

nav a {
    color: #cbd5f5;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 45px;
}

.hero-text span {
    color: #38bdf8;
}

.hero-text p {
    margin: 15px 0;
    color: #94a3b8;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.hero img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

section {
    padding: 60px;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card.skill {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #334155;
    padding: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 20px;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    nav div {
        margin-top: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero img {
        margin-top: 20px;
        width: 180px;
    }

    section {
        padding: 40px 20px;
        text-align: center;
    }

    .card-container {
        justify-content: center;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}